<!DOCTYPE html>
<html>
<head>
<title>Contact Form</title>
</head>
<body>
  <h1>Contact Form</h1>
  <form action="/contact" method="POST">
    <label>Name:</label>
    <input type="text" name="Name" required />
    <br><br>
    <label>Email:</label>
    <input type="email" name="Email" required />
    <br><br>
    <label>Message:</label>
    <textarea name="Message" required></textarea>
    <br><br>
    <button type="submit">Send</button>
  </form>
</body>
</html>
